  /*--------------------------------------------------------------
  2. BASE RESET & LAYOUT
  --------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
}
  
body {
    min-height: 100%;
    font-family: 'Hubballi', sans-serif;
    color: var(--color-text);
    background: var(--color-bg);
    padding-top: var(--header-height); /* push content below fixed header */
}
  
  /* Utility classes */
.row{
    width: 80%;
    position: relative;
    margin: 20px auto;
}

hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: 1px solid  rgba(0,0,0,.2);
    margin: 2rem 10%;
}
.u-flex-center { display: flex; justify-content: center; align-items: center; }
.u-flex-right { display: flex; justify-content: right; align-items: center; }
.u-flex-wrap   { flex-wrap: wrap; }
.u-flex-column { display: flex; flex-direction: column; }
.u-flex-wrap {display: flex; flex-wrap: wrap; gap: 1rem;}
.u-3-cols { flex: 1 1 calc(33.333% - 1rem); min-width: 275px; }
.u-4-cols { flex: 1 1 calc(25% - 1rem); min-width: 250px; }
.u-stretch { align-items: stretch; justify-content: stretch; justify-items: stretch;}
.asterisk_w:before{
    content: url("../images/asteriskW.svg");
}
.asterisk_p:before{
    content: url("../images/asteriskP.svg");
}
.asterisk_pw:before{
    content: url("../images/asteriskPW.svg");
}
  
.desktop{
    display: block;
}

.mobile{
    display: none;
}

  /*--------------------------------------------------------------
  3. FIXED HEADER & NAV
  --------------------------------------------------------------*/
header#top_menu {
    position: fixed; top: 0; left: 0; width: 100%;
    background-image: linear-gradient(
      to right,
      var(--color-header-1) 0%,
      var(--color-header-2) 200px,
      var(--color-header-2) 100%
    );
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing) 2rem;
}
  
header#top_menu .logo img {
    height: 90px;
}
  
nav ul {
    list-style: none;
    display: flex;
    gap: .9rem;
    align-items: stretch;
    justify-content: center;
    text-align: center;
}
  
nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

  nav li{
    padding: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav li:hover{
    background-color: var(--color-primary);
  }
  
  .cta-button {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border: none;
  }
  
  /*--------------------------------------------------------------
  4. TYPOGRAPHY
  --------------------------------------------------------------*/
h1 {
    font-size: clamp(1.9rem, 6vw, 2.7rem);
    margin-bottom: .5rem;
}
  
h2 {
    font-family: 'Glass Antiqua', cursive;
    font-size: clamp(1.7rem, 5.5vw, 2.5rem);
    margin: var(--spacing) 0;
}
  
h3 {
    font-family: 'Glass Antiqua', cursive;
    font-size: clamp(1.6rem, 5vw, 2.2rem);
    margin-bottom: 1rem;
}

h4{
    font-size: clamp(1.4rem, 4vw, 1.8rem);
}

h5{
    font-size: clamp(1rem, 3.5vw, 1.5rem);
}

.uppercase{
    text-transform: uppercase;
}

  
p{
    font-size: clamp(1.2rem, 2.5vw, 1.4rem);
    line-height: clamp(1.4rem, 2.6vw ,1.6rem);
}

p:not(:last-child){
    margin-bottom: 1.5rem;
}
  
  /* Button styles share a pattern */
  .primary-button,
  .cta-button {
    display: inline-block;
    text-decoration: none;
    background-color: var(--color-accent);
    color: var(--color-primary);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
  }
  
  /*--------------------------------------------------------------
  5. SECTIONS & CONTAINER
  --------------------------------------------------------------*/
  section {
    scroll-margin-top: var(--header-height);
    /*margin: var(--spacing) auto;*/
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 10;
    position: relative;
  }

  .dark{
    background-color: black;
    color: white;
  }

  .light{
    background-color: white;
    color: black;
  }

  .white_transparent{
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: 6px solid var(--color-primary);
  }

  .white{
    background-color: white;
    color: black;
  }

  /*.white h4{
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: clamp(1.5rem, 3.2vw, 1.8rem);
  }*/
  
  /*--------------------------------------------------------------
  6. HERO
  --------------------------------------------------------------*/
.hero {
    position: relative;
    overflow: hidden;
    position: relative;
    height: calc(100vh - var(--header-height));
    overflow: hidden;
    z-index: 0;
}

.hero-header-wrapper{
    height: 90px;
    width: 0;
    transition: width   2s ease;
    display: inline-block;
    position: relative;
}

.hero-header{
    height: 100px;
    opacity: 0;
    transition: opacity 1s ease;
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
}

.fade-in{
    width: 90px;
}

.fade-in .hero-header{
    opacity: 1;
    transition: opacity 4s ease;
}


.hero.mobile{
    height: auto;
}
  
.hero::before {
    content: '';
    position: fixed; top: 0; left: 0;
    width: var(--dots-width); 
    height: 100%;
    border-right: 1px solid #000;
    background:
      radial-gradient(#000 2px, transparent 1px) 0 0,
      radial-gradient(#000 2px, transparent 1px) 10px 10px;
    background-size: 20px 20px;
    z-index: -1;
}

#hero-wrapper{
    width: calc(100% - var(--dots-width)*2);
    max-width: var(--max-width);
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
  
.hero-background {
    position: absolute;
    bottom: 0;
    left:0;
    /*transform: translateX(10%);*/
    max-width: 60%;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
}
  
.hero-text {
    position: absolute;
    top: 50px;
    right:0;
    /*transform: translateX(-10%);*/
    z-index: 2;
    max-width: 50%;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.mobile .hero-text{
    position: relative;
    top: 0;
    left:0;
    max-width: 100%;
    margin-top: 2rem;
}
  /*--------------------------------------------------------------
  7. ABOUT
  --------------------------------------------------------------*/
 #about .u-flex-column {
    gap: 2rem;
  } 

#services_list .blob h1{
    text-align: center;
}

#services_topics{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#services_options{
    display: grid;
    gap: 1rem;
    /* 4 columns by default */
    grid-template-columns: repeat(4, 1fr);
}

#services_options .blob img{
    max-width: 150px;
}

#services_options .blob .title2{
    min-height: 4rem;
}

.blob .title_r{
    font-size: clamp(1.6rem, 4vw, 2rem);
    line-height: clamp(1rem, 3.5vw, 1.7rem);
    margin: 0;
    text-align: left;
}

#accolades{
    display: grid;
    gap: 1rem;
    /* Two columns: left auto-sized, right takes the rest */
    grid-template-columns: 1.15fr 0.85fr;
    /* Two rows, auto-size by content (or fixed height if you prefer) */
    grid-template-rows: auto auto;

    /* Named template areas is purely optional but super-readable: */
    grid-template-areas:
        "featured service"
        "awards  service";
}

#featured { grid-area: featured; }
#awards   { grid-area: awards;   }
#service  { grid-area: service;  }

#resources_list{
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.primary{
    color: var(--color-primary);
}

.primary_back{
    background-color: var(--color-primary);
    border-radius: 10px;
    color: white !important;
}

/*.primary h1{
    color: white !important;
}*/

/* Apply to each endorsement blob */
.symbol{
    position: relative;      /* establish containing block for the pseudo-elements */
    padding: 2rem; 
}

.symbol:before{
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    pointer-events: none;     /* so it never blocks text selection */
    z-index: 0;               /* behind your actual text */
    display: block;
    width: 2rem;          /* or whatever suits */
    height: auto; 
}

.symbol * {
    position: relative;
    z-index: 1;
}
  
  /* Opening quote in top-left */
.quote:before {
    content: url("../images/openQ.svg"); 
}
  
/* Make sure your blob’s text sits on top */

.endorsement_author{
    font-weight: 900;
    font-family: "Quicksand", sans-serif;
    text-align: right;
    font-size: 1rem;
}

  .blob{
    padding: 2rem;
    border-radius: 10px;
    font-size: clamp(1.2rem, 2.5vw, 1.4rem);
    line-height: clamp(1.4rem, 2.6vw ,1.6rem);
  }

  .blob.smallPadding{
    padding: 1rem 2rem;
  }

  .blob img{
    display: block;
    max-height: 200px;
    max-width: 250px;
    margin: 0 auto;
    border-radius: 10px;
  }

.border{
    border: 3px solid black
}

.blob .title, .blob .title2{
    font-size: clamp(2.5rem, 6vw, 2.7rem);
    line-height: clamp(2rem, 5.5vw, 2.2rem);
    color: var(--color-primary);
    margin: .5rem 0 1rem 0;
    text-align: center;
    font-weight: 900;
    min-height: 5rem;
}

.blob .title2{
    font-size: clamp(2.2rem, 5.7vw, 2.4rem);
    line-height: clamp(1.7rem, 5.2vw, 1.9rem);
    min-height: 4rem;
}

.blob ul{
    margin-bottom: 1rem;
}

  .blob li{
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    margin-left: 1.5rem;
    margin-bottom: .5rem;
  }

  /*--------------------------------------------------------------
    8. SOCIAL MEDIA
  --------------------------------------------------------------*/

  #social{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2000;
  }

  #social img{
    width: 48px;
  }
  
  /*--------------------------------------------------------------
  9. RESPONSIVE GRID BREAKPOINTS
  --------------------------------------------------------------*/
  @media (min-width: 600px) {
    #evolution_parts {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    #evolution_parts {
      grid-template-columns: repeat(3, 1fr);
    }
  }

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 4rem;
    position: relative;
}

footer .logo{
    height: 50px;
}

#logo_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#email_link{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 230px;
    gap:4px;
    background-color: var(--color-primary);
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

#email_link img{
    width: 32px;
}

#modal_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* make sure it’s visibly distinct */
    z-index: 9999 !important; /* temporarily force it to the front */
}

#modal_wrapper form{
    max-height: 80vh;
}

#modal_wrapper form, #modal_message_wrapper{
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 90%;
}

#modal_wrapper form label{
    font-family: "Glass Antiqua", cursive;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 900;
}

#modal_wrapper form input, #modal_wrapper form textarea{
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--color-primary);
    margin-bottom: 1rem;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
}

#modal_wrapper form textarea{
    height: 40vh;
}

#modal_wrapper #form_button_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.no_display{
    display: none !important;
}

@media(max-width: 980px){
    .hero::before {
        width: 40px;
    }

    .hero-background{
        position: relative;
        max-width: 50%;
        max-height: 50%;
        display: block;
        margin: 0 auto;
    }

    .hero {
      height: auto;               /* let it grow to fit content */
    }
  
    #hero-wrapper {
      position: static;           
      transform: none;
      width: 100%;
      max-width: none;
      padding: 2rem 1rem;         
    }
  
    .hero-text {
      position: static;
      max-width: 85%;
      margin: 1.5rem auto;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }
  }

@media(max-width: 1200px){
    #services_options{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 900px){
    #services_list .blob{
        max-width: none !important;
        width: 100% !important;
    }
}

@media (max-width: 850px) {
    #top_menu{
        flex-direction: column;
        gap: 0;
        height: var(--header-height-m);
    }

    body{
        padding-top: var(--header-height-m);
    }

    section{
        scroll-margin-top: var(--header-height-m);
    }

    #accolades{
      grid-template-columns: 1fr;
      grid-template-areas:
        "featured"
        "service"
        "awards";
      grid-template-rows: auto auto auto;
    }
}

@media(min-width: 850px){
    .hero-header-wrapper{
        width: 90px;
    }
}

@media(max-width: 650px){
    #services_options{
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
}

@media(max-width: 600px){
    footer{
        flex-direction: column;
        gap: 1rem;
    }
}

@media(max-width: 500px){
    .hero-background{
        max-width: 80%;
        max-height: 80%;
    }

    .blob{
        padding: 1rem;
    }
}

@media(max-width: 450px){
    .hero::before {
        width: 30px;
    }
}