@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Cedarville+Cursive&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Glass+Antiqua&family=Hubballi&family=Hurricane&family=Quicksand:wght@300..700&display=swap');
/*
font-family: "Courier Prime", monospace;
font-family: "Glass Antiqua", cursive;
font-family: "Quicksand", sans-serif;
font-family: "Bellota", system-ui;
font-family: "Hubballi", sans-serif;
font-family: "Hurricane", cursive;
font-family: "Cedarville Cursive", cursive;
*/

:root {
    /* Colors */
    --color-text:        #1a1a1a;
    --color-bg:          #fbfbfb;
    --color-primary:     #004c6d;
    --color-accent:      #5ac8d8;
    --color-header-1:    rgba(0, 76, 109, 1);
    --color-header-2:    rgba(0, 76, 109, 0.9);
    --color-evolution-bg:rgba(0, 76, 109, .9);
  
    /* Spacing & sizing */
    --spacing:           0.5rem;
    --max-width:         1100px;
    --header-height:     105px;
    --header-height-m:   132px;
    --dots-width:        80px;
}